/*General*/
body, input, button, textarea {
    font-family: 'Varela Round', Helvetica Neue, Helvetica, Arial, serif;
  }

/*Notifications*/
.alert {
  text-align: center;
}

.win {
  background-color: #d4edda !important;
}

.lose {
  background-color: #f8d7da !important;
}