{% extends "layout.html" %}

{% block content %}

<main role="main" class="col-sm-9 sm-auto offset-sm-1  col-md-10 pt-3">
    <h1>Dashboard</h1>

    <section class="row text-center placeholders">
      <div class="col-6 col-sm-3 placeholder">
        <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        <h4>Label</h4>
        <div class="text-muted">Something else</div>
      </div>
      <div class="col-6 col-sm-3 placeholder">
        <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        <h4>Label</h4>
        <span class="text-muted">Something else</span>
      </div>
      <div class="col-6 col-sm-3 placeholder">
        <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        <h4>Label</h4>
        <span class="text-muted">Something else</span>
      </div>
      <div class="col-6 col-sm-3 placeholder">
        <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        <h4>Label</h4>
        <span class="text-muted">Something else</span>
      </div>
    </section>

    <h2>Last results</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Strategy</th>
            <th>Balance</th>
            <th>Total Wins</th>
            <th>No of games</th>            
            <th>User</th>
          </tr>
        </thead>
        <tbody>
          {% for item in results %}
          <tr>
            <td>{{ item.timestamp.strftime('%Y-%m-%d %H:%M:%S') }} </td>
            <td>{{ item.strategy }}  </td>
            <td>{{ item.balance }}  </td>
            <td>{{ item.total_win }}  </td>
            <td>{{ item.numberOfPlays }}  </td>            
            <td>{{ item.userNick }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</main>

{% endblock %}