{% extends "layout.html" %}


{% block content %}

<main role="main" class="col-sm-8 offset-sm-1 offset-md-1 col-md-8 col-lg-8 pt-3  ">
    <div class="container">
        <h3>Concept</h3>
        There are many ways to play Blackjack game. The purpose of this site is to give you possibility 
        to test game strategies before trying it in real casino. Assuming than you are going to play using basic 
        strategy this site allows you to test variation of bets during the multiple games. When loosing 
        you try to minimize the bets and when winning you try to maximize bets.
        <br>
        One calculation is a batch of games of 4 decks of cards.
        Blackjack game simulator is under development and has been implemeted following the simplified basic
        strategy, split and insurance are not yet implemented.

        
    </div>  
</main>

{% endblock %}