{% extends "layout.html" %}

{% from 'macros.html' import render_field %}

{% block content %}
<main role="main" class="col-sm-4 offset-sm-4 offset-md-2 col-md-4 col-lg-4 pt-3  ">
    <form method="POST" action="" class="form-group">
        {{ form.hidden_tag() }}
        <div class="container">
          {% for field in form if field.widget.input_type != 'hidden' %}
              {{ render_field(field) }}                
          {% endfor %}               
        </div>  

        <button type="submit" id="submit" class="btn btn-outline-success"> Submit data </button>
    </form>
</main>

<main role="main" class="col-sm-8 offset-sm-3 offset-md-2 col-md-8 pt-3">
    <h2>Games results</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>User Score</th>
            <th>Croupier Score</th>
            <th>Bet</th>
            <th>Total Wins</th>
            <th>Cards left</th>
            <th>real HI-LO</th>
            <th>Balance</th>
          </tr>
        </thead>
        <tbody>
        {% for game in data %}    
          <tr class=" {{game.result}}  ">
            <td> {{ game.no }} </td>
            <td> {{ game.userScore }} </td>
            <td> {{ game.krupierScore }} </td>
            <td> {{ game.bet }} </td>
            <td> {{ game.totalWin }} </td>
            <td> {{ game.cardsLeft }} </td>
            <td> {{ game.realHL }} </td>
            <td> {{ game.balance }} </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
</main>
{% endblock %}